<div *ngIf="isLoading && !isLoadingError" class="centered-spinner"><md-spinner></md-spinner></div>
<h3>{{(story | async)?.headline}}</h3>
<!-- Dirty little hack with *ngIf, because markdown module does not understand observables -->
<markdown *ngIf="!isLoading && !isLoadingError">{{(story | async)?.text}}</markdown>

<md-card>
   <md-card-subtitle>Subtitle first</md-card-subtitle>
   <md-card-title>Card with title</md-card-title>
   <md-card-content>
        <p>This is supporting text.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
   </md-card-content>
</md-card>
